@import "table.css";

.button_first_view {
    background:linear-gradient(35deg, #a5a6c9 12%, #bebbd7 50%, #a5a6c9 88%);
    font-family: inherit;
    font-size: calc(1vh + 0.5vw);
    text-align: left;

    padding: 3px 10px;
    margin: 7px;

    border: 1px solid transparent;
    border-radius: 20px/40px;

    box-shadow: 0 5px 15px -4px black;
    transition-duration: 1s;
}

.button_first_view:hover {
    box-shadow: 2px 2px 5px whitesmoke, -2px -2px 5px whitesmoke, -2px 2px 5px whitesmoke, 2px -2px 5px whitesmoke;
    transform: scale(1.05);
}

.button_first_view_login {
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    font-family: inherit;
    font-size: calc(0.8vh + 0.4vw);

    padding: 3px 10px;
    margin: 7px 0 7px 0;

    border: 3px solid transparent;
    border-radius: 20px/40px;

    box-shadow: 2px 3px 5px grey;
    transition-duration: 1s;
}

.button_first_view_login:hover {
    box-shadow: 3px 4px 10px whitesmoke, -3px -4px 10px whitesmoke, 3px -4px 10px whitesmoke, -3px 4px 10px whitesmoke;
    border-color: whitesmoke;
    transform: scale(1.1);
}

.button {
    background:linear-gradient(35deg, #a5a6c9 12%, #bebbd7 50%, #a5a6c9 88%);
    font-family: inherit;
    font-size: calc(1.2vh + 0.6vw);

    padding: 5px 15px;
    margin: 20px;

    border: 1px solid #56586e;
    border-radius: 20px/40px;

    box-shadow: 0 5px 15px -4px black;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 2px 2px 5px whitesmoke, -2px -2px 5px whitesmoke, -2px 2px 5px whitesmoke, 2px -2px 5px whitesmoke;
    transform: scale(1.1);
}

.button_comment_delete {
    background: rgba(178, 34, 34, 0.45);
    font-size: calc(0.7vh + 0.3vw);

    padding: 0 5px;

    border: 1px solid black;
    border-radius: 5px;

    transition-duration: 0.2s;
}

.button_comment_delete:hover {
    background: rgba(178, 34, 34, 0.8);
}

.button_comment_add {
    background:linear-gradient(35deg, #a5a6c9 12%, #bebbd7 50%, #a5a6c9 88%);
    font-family: inherit;
    font-size: calc(0.4vh + 0.5vw);

    padding: 3px 10px;
    margin: 0 auto 2vw;

    border: 1px solid transparent;
    border-radius: 20px/40px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 5px 15px -4px black;
    transition-duration: 1s;
}

.button_comment_add:hover {
    background:linear-gradient(135deg, #a5a6c9 12%, #bebbd7 50%, #a5a6c9 88%);
    box-shadow: 1px 1px 5px whitesmoke, -1px -1px 5px whitesmoke, -1px 1px 5px whitesmoke, 1px -1px 5px whitesmoke;

}
.bca{
    margin: 7px;
    font-size: calc(0.8vh + 0.4vw);
}

.button_admin_page {
    font-size: calc(1vh + 0.5vw);

    padding: 3px;
    margin: 2px;

    border-radius: 20px/40px;
    transition-duration: 0.5s;
}

.button_admin_page:hover {
    box-shadow: 2px 2px 8px whitesmoke, -2px 2px 8px whitesmoke, -2px -2px 8px whitesmoke, 2px -2px 8px whitesmoke
}

.block {
    background: darkorange;
}

.delete {
    background: red;
}

.input {
    font-size: calc(0.6vh + 0.6vw);
    font-family: inherit;
    background: whitesmoke;

    padding: 3px 10px;
    margin: 7px;

    border: 2px solid #56586e;
    border-radius: 20px/40px;

    transition-duration: 0.4s;
}

.input:hover {
    box-shadow: 2px 3px 5px whitesmoke, -2px -3px 5px whitesmoke, 2px -3px 5px whitesmoke, -2px 3px 5px whitesmoke;
    border-color: lightgray;
}

.radio_button {
    display: inline-block;
}

.radio_button input[type=radio] {
    display: none;
}

.radio_button label {
    background: #999bc2;
    color: #56586e;
    font-size: calc(0.8vh + 0.4vw);

    padding: 2px 8px;
    margin: 7px;

    display: inline-block;
    cursor: pointer;
    user-select: none;

    border: 2px solid #56586e;
    border-radius: 20px/40px;

    transition-duration: 0.4s;
}

.radio_button input[type=radio]:checked + label {
    background: linear-gradient(35deg, #a5a6c9 12%, #bebbd7 50%, #a5a6c9 88%);
    color: black;
    font-size: calc(1vh + 0.5vw);

    box-shadow: 1px 2px 3px whitesmoke, -1px -2px 3px whitesmoke, 1px -2px 3px whitesmoke, -1px 2px 3px whitesmoke;
    border-color: whitesmoke;
}

.radio_button label:hover {
    box-shadow: 1px 2px 3px whitesmoke, -1px -2px 3px whitesmoke, 1px -2px 3px whitesmoke, -1px 2px 3px whitesmoke;
}

.dropdown_list {
    font-family: inherit;
    font-size: calc(0.6vh + 0.6vw);

    padding: 3px 10px;
    margin: 7px;

    position: relative;
    outline: none;
    cursor: pointer;

    border: 2px solid #56586e;
    border-radius: 20px/40px;

    transition-duration: 0.4s;
}

.dropdown_list:hover {
    box-shadow: 2px 3px 5px whitesmoke, -2px -3px 5px whitesmoke, 2px -3px 5px whitesmoke, -2px 3px 5px whitesmoke;
    border-color: lightgray;
}

.checkbox {
    height: calc(1.2vh + 0.6vw);
    width: calc(1.2vh + 0.6vw);
}

.textarea2 {
    background: #b3b1d1;
    font-size: calc(1vh + 0.5vw);

    padding: 1vh 1.5vw;

    max-height: 10vh;
    max-width: 100%;
    min-height: 10vh;
    min-width: 100%;

    border-radius: 10px;
    border: #4e5c97 solid 2px;

    box-sizing: border-box;
}

.textarea2:hover {
    cursor: pointer;
}



